ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  li a:hover {
    background-color: rgb(46, 167, 16);
    border-radius: 15px;
  }
 .just-line{
     position: relative;
     top: 60px;
     height: 7px;
     background-color: green;
 }