.js {
    background-color: orange;
  }

.web3 {
    background-color: green;
}
.defi{
    background-color: rgb(94, 158, 255);
}
.nft{
    background-color: red;
}
.sol{
    background-color: blue;
}
.css{
    background-color: yellow;
}