.js {
    margin-left: 45px;
    border-radius: 25px;
    width: 100px;
    background-color: orange;
    color: black;
  }

.web3 {
    margin-left: 45px;
    border-radius: 25px;
    width: 100px;
    background-color: green;
    color:aliceblue
}
.defi{
    margin-left: 45px;
    border-radius: 25px;
    width: 100px;
    background-color: rgb(94, 158, 255);
    color: black;
}
.nft{
    margin-left: 45px;
    border-radius: 25px;
    width: 100px;
    background-color: red;
    color: aliceblue;
}
.sol{
    margin-left: 45px;
    border-radius: 25px;
    width: 100px;
    background-color: blue;
    color: aliceblue;
}
.css{
    margin-left: 45px;
    border-radius: 25px;
    width: 100px;
    background-color: yellow;
    color:black
}
.stack{
    color: rgb(255, 255, 255);
}

  .container {
    position: relative;
    width: 50%;
  }
  
  .overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .buttons_overlay {
    font-size: 16px;
    border-radius: 30px;
    position: relative;
    top: 150px;
  }
  
  #gotoapp{
    display: inline-block; 
    position: relative;
    left: 40%;
  }
  #viewcode{
    display: inline-block;
  }

  .imageProjects {
    opacity: 1;
    display: block;
    width: 470px;
    height: 420px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 30px;
  }